:root{
    --white_back : #ebecdd;
    
}

body {
    position: relative;
    background-color: #fff3b1; 
}




.topBar {
    background-color: #23272b;
    height: 8vh;
    padding: 8px 0;
    position: relative;
}
.hide_in_bar_cent{
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
} 
.yuandonliIcon {
    position: relative;
    height: 5vh;
    object-fit: cover;
    opacity: 100;
    vertical-align: middle;
    z-index: 10;
}
.yuandonliIcon.animate {
    animation: 1s ease 0s 1 normal forwards slide-in-top;
}
  

.top_function_list{
    position: absolute;
    right: 3vh;
    top : 0vh;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 5vh;
}
  
.top_function_hint{
    line-height: 7.23vh;
    font-size: 3.23vh;
    color: white;
    opacity: 90%;
}

.top_icon{
    margin-left: 3vw;
}
  
.footer{
    height: 10vh;
}

.sent_button_div{
    display: flex;
    justify-content: space-between;
}

.sentpage_order_button{
    padding: 2vh 4vh;
    margin: 3vh 1vh;
    font-size: 20px;
    width: 40%;
}

.sent_memo_content{
    font-size: 5vw;
    padding: 2vw 4vw;
}




.debug{
    background-color: red;
}
.debug_2{
    background-color: blue;
}
.debug_red_border{
    border: red 2px solid;
}
.debug_blue_border{
    border: blue 2px solid;
}
.debug_green_border{
    border: green 2px solid;
}

